.boxShadow{
    box-shadow: 0 2px 4px rgb(0 0 0 / 30%), 0 8px 16px rgb(0 0 0 / 10%) ; 
  }
  .navbar-nav a {
  
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
  
  }
