
<nav class="navbar navbar-expand-lg navbar-light bg-light boxShadow fixed-top" id="top" *ngIf="servis.aktifUye.admin==0 || servis.aktifUye.admin==1 " >
  <div class="container">
    <a class="navbar-brand" href="#" style="background-color: black; color: rgb(255, 242, 0); padding: 15px; " >ADMİN PANELİ</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/members">Üyeler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/categories">Kategoriler</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/news">Haberler</a>
        </li>
      </ul>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!servis.OturumKontrol()">
          <a class="nav-link active" aria-current="page" href="/login">Oturum Aç</a>
        </li>
        <li class="nav-item dropdown" *ngIf="servis.OturumKontrol()">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{servis.aktifUye.adiSoyadi}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="OturumKapat()">Oturumu Kapat</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-white boxShadow fixed-top"  *ngIf="servis.aktifUye.admin!=0  && servis.aktifUye.admin!=1  "  >
  <div class="container-fluid " >
    <a class="navbar-brand" href="#" style="background-color: red; padding: 10px; border-radius: 20px; color: white;  font-size: 25px;" >MATAR NEWS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse   navbar-collapse" id="navbarSupportedContent" >
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Anasayfa</a>
        </li>
      </ul>
      <ul class="navbar-nav  ms-auto  mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="!servis.OturumKontrol()">
  
          <a class="nav-link active" aria-current="page" href="/login" >
            <img src="../assets/login.png" alt="" style="height: 45px;">
          </a>
        </li>
        <li class="nav-item dropdown" *ngIf="servis.OturumKontrol()">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{servis.aktifUye.adiSoyadi}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="OturumKapat()">Oturumu Kapat</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet>
</router-outlet>