.resim {
    background-color: #ffffff;
    height: 500px;
    margin-top: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: #bbb7b7;

}
.boxShadow{
    
    box-shadow: 0 2px 40px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}
.w3-container{
    padding: 0px!important;
}
