<div class="container mt-5 " >
  <div class="row">
    <div class="col-md-4">
      <div class="alert alert-danger" *ngIf="servis.aktifUye.admin==0" style="margin-top: 100px;">Bu Bölüme Girmeye Yetkiniz Yoktur!</div>
    </div>
  </div>
  <div class="row" *ngIf="servis.aktifUye.admin==1"  style="margin-top: 100px;" >
    <div class="col-lg-12">
      <h3>Üyeler</h3>
      <button class="btn btn-outline-primary" (click)="Ekle(modalEkleDuzenle)">Üyeler</button>
      <div class="table-responsive-sm">
          <table class="table table-bordered mt-3">
            <thead class="bg-danger text-white">
              <th class="p-2">Id</th>
              <th class="p-2">Adı Soyadı</th>
              <th class="p-2">Gmail</th>
              <th class="p-2">Admin</th>
              <th class="p-2">Parola</th>
              <th class="p-2">Telefon</th>
              <th class="p-2">Düzenle</th>
              <th class="p-2">Sil</th>
            </thead>
            <tbody>
              <tr *ngFor="let uye of members">
                <td>{{uye.id}}</td>
                <td>{{uye.adiSoyadi}}</td>
                <td>{{uye.gmail}}</td>

                <td>
                  <span *ngIf="uye.admin==1" class="badge bg-success">Evet</span>
                  <span *ngIf="uye.admin==0" class="badge bg-danger">Hayır</span>
                </td>
                <td>{{uye.parola}}</td>
                <td>{{uye.telefon}}</td>

                <td><button class="btn btn-outline-warning" (click)="Duzenle(uye,modalEkleDuzenle)">Düzenle</button></td>
                <td><button class="btn btn-outline-danger" (click)="Sil(uye,modalSil)">Sil</button></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="MembersEkleDuzenle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label>Üye Adı Soyadı</label>
            <input type="text" class="form-control" formControlName="adiSoyadi">

            <label>E-mail</label>
            <input type="text" class="form-control" formControlName="gmail">

            <label>Parola</label>
            <input type="text" class="form-control" formControlName="parola">


            <label>Telefon</label>
            <input type="text" class="form-control" formControlName="telefon">


            <label>Yönetici Mi ?</label>
            <select class="form-control" formControlName="admin">
              <option value="1">Evet</option>
              <option value="0">Hayır</option>
            </select>

            <input type="hidden" class="form-control" formControlName="id">
            <input type="hidden" class="form-control" formControlName="uyeKayitTarihi">
            <input type="hidden" class="form-control" formControlName="uyeDuzenlemeTarihi">

          </div>


        </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>

<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secUye">{{secUye.adiSoyadi}} adlı Üye Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secUye" (click)="MembersSil()">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>